*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

#cabeza {
  border-bottom: 1px solid;
  text-align: center;
  padding-top: 20px; padding-bottom: 20px;
  margin-bottom: 30px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

/*Menu*/
